.checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-color: inherit;
    border-radius: 2px;
    position: relative;
    z-index: 0;
    background: inherit;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    transition: border-width 0.3s ease-out;
}

:host([disabled]) .checkbox{
    border-radius: 50%;
    border: 8px solid;
    border-color: inherit;
}

.checkbox::before {
    content: "";
    width: 33.33%;
    height: 66.66%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    border: inherit;
    border-left: none;
    border-top: none;
}

.checkbox-host[disabled] .checkbox::before{
    display: none;
}

.checkbox::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    display: block;
    float: right;
}

.checkbox-host[checked] .checkbox::after {
    width: 0;
    transition: width 0.15s ease-out 0.05s;
}

.checkbox-host[disabled] .checkbox::after{
    display: none;
}